@font-face {
    font-family: "iconfont";
    /* Project id  */
    src: url('./iconfont.ttf') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mobile:before {
    content: "\e6a0";
}

.icon-password:before {
    content: "\e60a";
}

.icon-captcha:before {
    content: "\e633";
}